* {
    color: #334455;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif !important;
    font-weight: 400;
}
.headerElement, .contentElement {
    text-align: left;
    background: none repeat scroll 0 0 #faf9fa;
    margin: 0 4em;
    padding: 0 2em;
    border: 0.1em solid #334455;
    border-top: 0 none;
    border-bottom: 0 none;
}
.headerElement {
    height: 3em;
}
a {
    text-decoration: none;
}
.contentElement {
    padding: 2em;
}
div.post {
    margin-top: 3em;    
}
h2.post-header {
    margin-bottom: 0.5em;
}

.post-header {
    font-size: 3em;
    color: #4D4F49;
    text-decoration: none;
    font-weight: 100;
}
.post-preview p {
    font-size: 1.5em;    
}
.readmore {
    font-size: 0.8em;
    font-style: italic;
}
.content {
    font-size: 1.2em;
    letter-spacing: 0.03em;
    line-height: 1.4em;
}
.author {
    font-size: 0.8em;
    font-style: italic;
    margin: 1em 0;    
}
