* {
    color: #334455;
    font-size: 17px;
    font-family: 'Droid Sans', sans-serif !important;
    font-weight: 400;
}
.headerElement, .contentElement {
    text-align: left;
    background: none repeat scroll 0 0 #fff;
    margin: 0 0 0 7em;
    padding: 0 2em;
    border: 0.1em solid #123;
    border-top: 0 none;
    border-bottom: 0 none;
    width: 60em;
}
.headerElement {
    height: 3em;
}
a {
    text-decoration: none;
    color: #a17b8a;
}
a:hover {
    color: #c79baa;
}
.contentElement {
    padding: 2em;
}
div.post {
    margin-top: 3em;
}
h2.post-header {
    margin-bottom: 0.5em;
}

.post-header {
    font-size: 3em;
    color: #4D4F49;
    text-decoration: none;
    font-weight: 100;
}
.post-preview p {
    font-size: 1.5em;
}
.readmore {
    font-size: 0.8em;
    font-style: italic;
}
.content {
    font-size: 1.2em;
    letter-spacing: 0.03em;
    line-height: 1.4em;
}
.author {
    font-size: 0.8em;
    font-style: italic;
    margin: 1em 0;
}
.content p {
    text-align: justify;
}
.content pre, span.code {
    background: #4d403f none repeat scroll 0 0;
    color: #d6e3db;
    font-family: monospace !important;
}
.content pre {
    border: 1px inset #334455;
    margin: 0.8em 0;
    padding: 0.3em 0.1em;
}
span.code {
    padding: 0 0.2em;
    white-space: nowrap;
}
.content .note {
    border: 1px solid #334455;
    display: block;
    font-size: 0.75em;
    font-style: italic;
    padding: 1em;
    width: 82%;
}
.content ul {
    list-style: square inside;
}
